[Unit]
Description=LiaisonOS Process Supervisor
Documentation=https://liaisonos.com

[Service]
Type=simple
ExecStart=/opt/emcomm-tools/bin/et-supervisor
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
