[Desktop Entry]
Type=Application
Version=1.0
Name=Install Liaison OS
GenericName=LiaisonOS Installer
Exec=calamares-install-debian
Comment=Install LiaisonOS OS
Keywords=calamares;system;install;emcomm;installer
Icon=install-emcomm
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
