[Desktop Entry]
Name=LiaisonOS Setup Wizard
Name[fr]=Assistant de configuration LiaisonOS
Comment=Configure your LiaisonOS system
Comment[fr]=Configurez votre système LiaisonOS
Exec=/opt/emcomm-tools/bin/et-flask-apps/et-firstboot/et-firstboot.py --force
Icon=/usr/share/pixmaps/emcomm-icon.png
Terminal=false
Type=Application
Categories=HamRadio;Settings;
Keywords=setup;wizard;configuration;radio;emcomm;
