[Desktop Entry]
Version=1.0
Type=Application
Name=Save Config to USB
Name[fr]=Sauvegarder Config sur USB
Comment=Save your EmComm-Tools configuration to USB drive
Comment[fr]=Sauvegarder votre configuration EmComm-Tools sur clé USB
Exec=/opt/emcomm-tools/bin/et-persistence/et-persistence-gui save
Icon=drive-removable-media
Terminal=false
Categories=Utility;
Keywords=save;backup;config;usb;
