[Desktop Entry]
Name=Navit
Name[fr]=Navigation GPS
Comment=Offline GPS Navigation
Comment[fr]=Navigation GPS hors-ligne
Exec=/opt/emcomm-tools/bin/et-navit start
Icon=navit
Terminal=false
Type=Application
Categories=Navigation;