[Desktop Entry]
Type=Application
Name=LiaisonOS First Boot Setup
Name[fr]=Configuration initiale LiaisonOS
Comment=Initial configuration wizard for LiaisonOS
Comment[fr]=Assistant de configuration initiale pour LiaisonOS
Exec=/opt/emcomm-tools/bin/et-flask-apps/et-firstboot/et-firstboot.py
Icon=/usr/share/pixmaps/emcomm-icon.png
Terminal=false
Categories=System;Settings;
StartupNotify=false
X-GNOME-Autostart-enabled=true
