[Desktop Entry]
Type=Application
Name=LiaisonOS Wallpaper Refresh
Comment=Refresh wallpaper after display scaling is applied
Exec=/opt/emcomm-tools/bin/et-wallpaper-refresh
Hidden=false
NoDisplay=true
X-XFCE-Autostart-Override=true
